#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=work
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=bmgdjnnnebcmnkcanahlogegmcppkahi
Icon=chrome-bmgdjnnnebcmnkcanahlogegmcppkahi-Default
StartupWMClass=crx_bmgdjnnnebcmnkcanahlogegmcppkahi
