#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=fax
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=fkcipgmfabceackbnjkmjgcplkjhnhkk
Icon=chrome-fkcipgmfabceackbnjkmjgcplkjhnhkk-Default
StartupWMClass=crx_fkcipgmfabceackbnjkmjgcplkjhnhkk
