#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=linux cli
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=cplidhcpcemaciakpdknejlppdeejmop
Icon=chrome-cplidhcpcemaciakpdknejlppdeejmop-Default
StartupWMClass=crx_cplidhcpcemaciakpdknejlppdeejmop
