#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Bootstrap 3 Tutorial
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=cbppjojendhckifahcfhccckpcgpfdmg
Icon=chrome-cbppjojendhckifahcfhccckpcgpfdmg-Default
StartupWMClass=crx_cbppjojendhckifahcfhccckpcgpfdmg
