#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=gdrive
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=lkdnjjllhbbhgjfojnheoooeabjimbka
Icon=chrome-lkdnjjllhbbhgjfojnheoooeabjimbka-Default
StartupWMClass=crx_lkdnjjllhbbhgjfojnheoooeabjimbka
