#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=7reg
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=bcgjkopfpobdekgdngfijeefkeifbkgk
Icon=chrome-bcgjkopfpobdekgdngfijeefkeifbkgk-Default
StartupWMClass=crx_bcgjkopfpobdekgdngfijeefkeifbkgk
