#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Angular Reference
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=kefmmfclbmnjphecioaofgmkphnnhfig
Icon=chrome-kefmmfclbmnjphecioaofgmkphnnhfig-Default
StartupWMClass=crx_kefmmfclbmnjphecioaofgmkphnnhfig
