#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=eye
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=cpipkgbmpfmgpmkcakgfgomjnjabijed
Icon=chrome-cpipkgbmpfmgpmkcakgfgomjnjabijed-Default
StartupWMClass=crx_cpipkgbmpfmgpmkcakgfgomjnjabijed
