#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Excel
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=fihmdplplgkocdkbpdhmkekamnjmihai
Icon=chrome-fihmdplplgkocdkbpdhmkekamnjmihai-Default
StartupWMClass=crx_fihmdplplgkocdkbpdhmkekamnjmihai
